:root {
  --primary: rgba(216, 30, 91, 0.3);
  --secondary: rgba(140, 56, 255, 0.3);
  --dark: #131a26;
  --gray: rgb(128, 128, 128, 0.7);
  --light: rgba(238, 238, 238, 0.3);
  --normal: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--light);
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: url('../public/imag.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.calculator {
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  background-color: var(--light);
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.display {
  padding: 16px;
  margin: 5px;
  border-radius: 7px;
  text-align: right;
  background-color: var(--gray);
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: rgb(255, 255, 255, 0.8);
}

button {
  appearance: none;
  border: none;
  border-radius: 10px;
  outline: none;
  color: #131a26;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.operators {
  display: flex;
  flex-direction: column;
}

.operators button {
  flex: 1 1 10%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--normal);
}

.keys2 {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.key1 {
  flex: 1 !important;
}

.key2 {
  flex: 0.2 !important;
}

.keys1 {
  display: flex;
  flex-wrap: wrap;
}

.keys1 button {
  flex: 1 1 50%;
  max-width: 50%;
  background-color: var(--secondary);
}